{% extends 'base.njk' %}
{% block title %}
    {{ manga }}:{{ chapter }}
{% endblock title %}
{% block content %}

    <div class="fixed-bottom d-flex justify-content-center align-items-center">
        <select class="form-select-sm bg-dark text-primary" id="pageselect" onchange="location = this.value;">
            {% for page in range(1, output.length+1) %}
                <option value="#{{ page }}">{{ page }}</option>
            {% endfor %}
        </select>
        <div class="text-primary bg-dark">/ {{ output.length }}</div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center my-4">
        {% for page in output %}
            <img class="img-fluid p-1" src="{{ page }}" id="{{ loop.index }}" loading="lazy">
            {{ loop.index }}<br>
        {% endfor %}
    </div>
{% endblock content %}